body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: azure;
}

.page-container {
  width: 800px;
  margin: 10px auto;
  background-color: white;
}

.product-listing {
  display: flex;
  flex: 1px;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 10px 30px;
  width: 200px;
}

.bttn-add {
  color: white;
  background-color: #00cc00;
}

.bttn-add:hover {
  color: white;
  font: bold;
  font-size: 120%;
  background-color: #00cc00;
  border-style: groove;
}

.bttn-rmv {
  color: red;
  color: white;
  background-color: #cc0066;
}

.bttn-rmv:hover {
  color: white;
  font: bold;
  font-size: 120%;
  background-color: #cc0066;
  border-style: groove;
}
